<div class="login-container">
    <mat-toolbar class="card-input">Iniciar Sesion</mat-toolbar>
    <mat-card>
            <div class="login-input">
                    <mat-form-field >
                    <input id="usr" matInput placeholder="Usuario" value="" [(ngModel)] = "user" >
                    </mat-form-field>
                </div>
                <div class="login-input">
                    <mat-form-field >
                    <input id="pdw" matInput placeholder="Contraseña" value="" [(ngModel)] = "password">
                    </mat-form-field>
                </div>
                <div>
                    <button mat-button (click) = "logIn()" mat-raised-button >Login</button>
                </div>
    </mat-card>      
</div>