<div class="horizontal-container card" >
    <img  width="75px" height="74px" [src]="gitGubData.avatar_url" />
    <div class="data-container">
        <div id="name">Nombre: {{gitGubData.name}} </div>
        <div id="login">UserName: {{gitGubData.login}} </div>
        <div class="horizontal-container container-space">
            <div id="followers">Followers: {{gitGubData.followers}} </div>
            <div id="following">Following: {{gitGubData.following}} </div>
        </div>
    </div>
</div>