<div class="signup-container">
    <mat-toolbar class="card-input">New User</mat-toolbar>
    <mat-card>
            <div class="signup-input">
                <mat-form-field >
                <input id="usr" type="text" matInput placeholder="Usuario" value="" [(ngModel)] = "user" >
                </mat-form-field>
            </div>
            
            <div class="signup-input">
                <mat-form-field >
                <input id="pdw" type="text" matInput placeholder="Contraseña" value="" [(ngModel)] = "password">
                </mat-form-field>
            </div>

            <div class="signup-input">
                <mat-form-field >
                <input id="cpdw" type="text" matInput placeholder="Confirmar Contraseña" value="" [(ngModel)] = "confirmpassword">
                </mat-form-field>
            </div>

            <div class="signup-input">
                <mat-form-field >
                <input id="email" type="email" matInput placeholder="Email" value="" [(ngModel)] = "email" >
                </mat-form-field>
            </div>

            <div class="signup-input">
                <mat-form-field >
                <input id="name" type="text" matInput placeholder="Nombre" value="" [(ngModel)] = "name" >
                </mat-form-field>
            </div>

            <div class="signup-input">
                <mat-checkbox [(ngModel)]="checked">Terminos y Condiciones</mat-checkbox>
            </div>

            <div>
                <button mat-button (click) = "SignUp()" mat-raised-button >Sign Up</button>
            </div>
    </mat-card>
    <div>
        <span> Estado: {{status}}</span>
    </div>      
</div>